<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">
        <div class="container-box">

            <h1>Student Management System</h1>

            <div class="nav-links mb-3">
                <a href="/add" class="btn btn-success">Add Student</a>
                <a href="/update" class="btn btn-warning">Update Marks</a>
                <a href="/search" class="btn btn-info">Search Student</a>
                <a href="/students" class="btn btn-primary">Show All Students</a>
            </div>


          

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Name</th>
                    <th>Roll</th>
                    <th>Marks</th>
                    <th>Action</th>
                </tr>

                {% for s in students %}
                <tr>
                    <td>{{s.name}}</td>
                    <td>{{s.roll}}</td>
                    <td>{{s.marks}}</td>
                    <td>
                        <a href="/delete/{{s.roll}}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                {% endfor %}

            </table>

        </div>
    </div>

</body>

</html>

</html>
